html{
    height: 100%;
    background-image: url(../images/background.jpg)
}

body{
    background: #dedede00;
        margin: 0;
        font-size: 28px;
        font-family: 'Modern Antiqua', cursive;
    }
/* --------------------------------------------------------------------navbar------------------------------------------------------------------------ */
    #navbar {
        z-index: 4;
        overflow: hidden;
        background-color: #333;
        list-style:none;
        margin:0;
        padding:0;
        text-align:center;
        border-bottom: 1px solid #333;
    }
    .navlist{
        list-style:none;
        margin:0;
        padding:0;
        text-align:center;
        display:inline;
        display:inline-block;
        padding:10px;
    }

    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        font-size: 17px;
    }

    .navLocation {
        margin-bottom: 150px;
    }

    #pantryNav {
        margin-top: 50px;
    }

    #navbar a:hover {
        background-color: #ddd;
        color: black;
    }

    .content {
        padding: 16px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .sticky+.content {
        padding-top: 60px;
    }
/*  -------------------------------------------------------navbar end------------------------------------------------------------------------ */
.card {
    margin-bottom: 20px;
    position: static;
    color: white;
}

#titleSpacer {
    margin-top: 3%;
}

#mainTitle {
    font-size: 5.0rem;
}

#titleImg{
    position: relative;
    text-align: center;
    display: inline-block
}

h1 {
    color: white;
    font-size: 3.0rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron{
    margin-top: 20px;
    background: #dedede00
}

h5 {
    position: static;
}

.push{
    margin-top: 164px;
}

.recipeBox{
    width: 320px;
    padding:20px;
}



/* ------------------------------------- logo ------------------------------------- */

h1.ml8 {
    font-weight: 900;
    font-size: 3.0em;
    color: #fff;
    width: 3em;
    height: 3em;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 0.7em;
    top: -0.2em;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #697179;
    border-radius: 3em;
    z-index: 0;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #697179;
    width: 2.3em;
    height: 2.3em;
  }
/* ------------------------------------------------------logo end ------------------------------------------------------------- */




.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}